<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>接口Mock平台</title>
    <link rel="icon" href="favicon.png">
    <style type="text/css" media="screen">
        #editor {
            width: 370px;
            margin: 50px auto 10px;
            border: solid 1px #2b85e4;
        }

        #app {
            margin: 50px auto;
            width: 700px;
        }
    </style>
    <!-- import Vue.js -->
    <script src="vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="iview.css">
    <!-- import iView -->
    <script src="iview.min.js"></script>

</head>
<body>

<div style="text-align: right;
    padding-top: 20px;
    padding-right: 54px; font-size: 14px">
    <a href="quick-start.html">用户指南</a>
</div>

<div id="editor">
    &lt;dependency&gt;
    &lt;groupId&gt;com.qccr.shprod&lt;/groupId&gt;
    &lt;artifactId&gt;shprod-facade&lt;/artifactId&gt;
    &lt;version&gt;3.9.9.9-SNAPSHOT&lt;/version&gt;
    &lt;/dependency&gt;
</div>
<div id="app">


    <br>
    <Row class="code-row-bg">
        <i-col span="18" style="padding-right:10px">
            <i-select v-model="className" filterable>
                <i-option v-for="item in classList" :value="item" :key="item">{{item}}</i-option>
            </i-select>
        </i-col>
        <i-col span="6">
            <i-button type="success" :loading="loading" @click="loadClass">加载Class对象</i-button>
        </i-col>
    </Row>
    <br>
    <br>
    <br>

    <Row>
        <i-col span="7">
            <radio-group v-model="struct" type="button">
                <Radio label="bean">普通对象</Radio>
                <Radio label="list">数组</Radio>
                <Radio label="page">分页</Radio>
            </radio-group>
        </i-col>
        <i-col span="11">
            <span>数组大小</span>
            <input-number :max="100" :min="1" v-model="listSize"></input-number>
            <span>递归次数</span>
            <input-number :max="10" :min="1" v-model="depth"></input-number>
        </i-col>
        <i-col span="6">
            <i-button type="primary" @click="mockJump">开始mock接口</i-button>
        </i-col>

    </Row>


</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js"></script>
<script src="axios.min.js"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/eclipse");
    editor.session.setMode("ace/mode/html");
    editor.setOption("maxLines", "7");
    editor.setOption("minLines", "7");
    editor.setOption("showLineNumbers", false);
    editor.setOption("showGutter", false);

    if (getPomStorage() !== null) {
        editor.setValue(getPomStorage());
        editor.gotoLine(1);
    }

    function getPomStorage() {
        return window.localStorage.getItem("pom")
    }

    function savePomStorage() {
        let pomXml = editor.getValue();
        window.localStorage.setItem("pom", pomXml);
    }


</script>
<script>
    let vue = new Vue({
        el: '#app',
        data: {
            loading: false,
            classList: {},
            className: "",
            listSize: 10,
            depth: 3,
            struct: "bean"
        },
        methods: {
            loadClass: function () {
                savePomStorage();
                let pomLocation = this.getPomLocation();
                _this = this;
                this.loading = true;
                axios.get('/getJarClass', {
                    params: {
                        g: pomLocation.groupId, a: pomLocation.artifactId, v: pomLocation.version
                    }
                }).then(function (res) {
                    console.log(res.data.jarUrl);
                    _this.classList = res.data.classList;
                    _this.loading = false;
                    _this.$Message.success('加载' + res.data.classList.length + '个对象');
                }).catch(function (error) {
                    console.log(error);
                    _this.loading = false;
                })
            },
            getPomLocation: function () {
                let pomXml = editor.getValue();
                let groupId = this.getElementText(pomXml, 'groupId');
                let artifactId = this.getElementText(pomXml, 'artifactId');
                let version = this.getElementText(pomXml, 'version');
                return {groupId: groupId, artifactId: artifactId, version: version}
            },
            getElementText: function (text, tag) {
                let reg = new RegExp('<' + tag + '>(.*)</' + tag + '>');
                return reg.exec(text)[1];
            },
            mockJump: function () {
                if (this.className === undefined || this.className === '') {
                    this.$Message.error('请选择一个Class对象');
                    return;
                }
                let url = '/';
                let pomLocation = this.getPomLocation();
                url += pomLocation.groupId + "/" + pomLocation.artifactId + "/" + pomLocation.version + "/" + this.className;
                let queryString = '';
                if (this.struct !== 'bean') {
                    queryString = this.appParam(queryString, 'struct', this.struct);
                }
                if (this.listSize !== 10) {
                    queryString = this.appParam(queryString, 'listSize', this.listSize);
                }
                if (this.depth !== 3) {
                    queryString = this.appParam(queryString, 'depth', this.depth);
                }

                if (queryString !== '') {
                    url += '?' + queryString;
                }
                window.open(url);
            },
            appParam: function (queryString, k, v) {
                let and = '';
                if (queryString !== '') {
                    and = '&';
                }
                queryString += and + k + '=' + v;
                return queryString;
            }


        }
    })
</script>
</body>
</html>